/* Media Query */
@media screen and (max-width: 768px) {
    .download-section h2:before, .follow-section h2:before {
        display: none !important;
    }
    .download-section h2:after, .follow-section h2:after {
        display: none !important;
    }
    .navbar {
        padding: 0 !important;
    }    
}
/* End Media Query */

*, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Tajawal', sans-serif !important;
    min-height: 100vh;
    background-color: #f5f5fa !important;
}
.navbar {
    flex-wrap: wrap;
    padding: 25px 0px 20px 140px;
}
.logo {
    margin-right: 5%;
    margin-left: 3%;
}
.logo img {
    max-width: 70px;
}
a {
    color: white !important;
    text-decoration: none !important;
}
.nav-links {
    gap: 36px;
    display: flex;
    font-size: 17px;
    font-weight: 500;
}
.nav-links a {
    color: black !important;
}
.nav-links a:hover {
    color: #2f2f2f !important;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
button.blog, button.docs, button.contribute {
    padding: 12px;
    background: #ff082c;
    color: white;
    border: 1px solid #ff082c;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
}
.code {
    background-color: #404040;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: left;
    font-weight: 400;
}
.download-section h2 {
    max-width: 600px;
    position: relative;
    margin: 25px auto;
}
.download-section h2:before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #464646;
    left: 0px;
    top: 50%;
    position: absolute;
}
.download-section h2:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #464646;
    right: 0px;
    top: 50%;
    position: absolute;
}
.follow-section h2 {
    max-width: 600px;
    position: relative;
    margin: 25px auto;
}
.follow-section h2:before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #464646;
    left: 0px;
    top: 50%;
    position: absolute;
}
.follow-section h2:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #464646;
    right: 0px;
    top: 50%;
    position: absolute;
}
footer a {
    color: black !important;
}
.menu-link {
    font-weight: bold;
}
ul {
    list-style: none;
}
.menu-docs {
    line-height: 2em;
}
.menu-docs a {
    color: black !important;
}
.hashtag {
    color: red;
}
code {
    width: 100%;
    padding: 7px !important;
    display: block;
    white-space: pre;
}